# Target folder
target/

# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# IntelliJ IDEA
.idea/
.smarttomcat/
*.iws
*.iml
*.ipr
out/

# VSCode
.vscode/
*.code-workspace

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log
